.connection-container {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connection-form {
    display: block;
    display: flex;
    flex-direction: column;
    width: 460px;
    padding: 30px;
    border: solid 3px lightgrey;
    box-shadow: 5px 10px 18px #888888;
}

.splash-image {
    margin-bottom: 30px;
    align-self: center;
    height: 200px;
}

.app-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 42px;
}

.connection-error {
    padding: 10px;
    color: white;
    background-color: rgb(214, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}

.connection-form label {
    font-size: 16px;
    margin-bottom: 5px;
}

.optional-label {
    color: rgb(160, 160, 160);
}

.connection-form input {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 8px;
    border: solid 3px lightgrey;
}

.connection-form button {
    color: white;
    height: 50px;
    width: 120px;
    font-size: 16px;
    background: linear-gradient(green, darkgreen);
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px #888888;
    transition: opacity .25s;
}

.connection-form button.disabled {
    opacity: .4;
    pointer-events: none;
}